body {
  font-size: 14px; padding: 1em;
}
main span {
  cursor: pointer;
}

.selected
{
  color:green; padding-left: 0.5em;
}

.selected:not(.wrapper)::before {
  content: '\2713';
}
object {
  width: 10em;
}
.wrapper { display: inline-block;}

.wrapper > * {
  pointer-events: none;}

.wrapper.selected::after {
  content: '\2713';
  font-size: 2.5em;
  position: relative;

  
}
